/* ------------------------------------------------------*/
/* ---------->>> everything gets imported! <<<-----------*/
/* ------------------------------------------------------*/
/* ============================ RESET ============================ */
/* ===== Eric Meyer Reset ===== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,300,600");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic");
@import url('http://fonts.googleapis.com/css?family=PT+Mono');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.33;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ===== CUSTOM RESET ===== */
object {
  outline: none;
  display: block;
  overflow: hidden;
}
/* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
textarea {
  overflow: auto;
}
/* fix IE */
iframe {
  border: 0;
}
/* fix line-height [https://gist.github.com/413930] */
sup,
sub {
  line-height: 0;
  font-size: .75em;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ============================ /RESET ============================ */
/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/
/* 1. @Font-Face — load my google fonts... */
/* 2. Load league gothic from my font server... */
@font-face {
  font-family: 'LeagueGothic';
  src: url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.eot');
  src: local('League Gothic'), local('LeagueGothic-Regular'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.woff') format('woff'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.ttf') format('truetype'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.svg#league_gothic_italicregular') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LeagueGothic';
  src: url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.eot');
  src: local('League Gothic Italic'), local('LeagueGothic-Italic'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.woff') format('woff'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.ttf') format('truetype'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
  font-style: italic;
  font-weight: normal;
}
.league-gothic-stack {
  font-family: 'LeagueGothic', Calibri, Helvetica, Arial, Sans-serif;
  font-weight: normal;
}
.ptmono {
  font-family: 'PT Mono', 'droid mono', menlo, monaco, monospace;
}
/* Color Palette */
/** other general reusable classes/hacks **/
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.show-text {
  text-indent: 0%;
  white-space: normal;
  overflow: visible;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /* type stuff */
  /**/
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.618em;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* 
   super simple CF from the very end of here: 
   http://css-tricks.com/snippets/css/clear-fix/ — only works in IE8+, 
   so not so super back compatible — but we're looking to the future! 
*/
.clear,
.clearfix,
.clearfix::after,
.group::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}
.text-center,
.center-text {
  text-align: center;
}
.text-left,
.left-align-text {
  text-align: left;
}
.text-right,
.right-align-text {
  text-align: right;
}
/* columnar stuff */
.container {
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
  width: 100%;
}
.column,
.columns {
  margin: 0 0 2rem 0;
  padding: 0;
}
.group,
.row {
  margin: 0 0 2rem 0;
}
.one,
.two,
.three,
.four,
.five,
.six,
.halfwidth,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.fullwidth {
  width: calc(100%);
}
/** still need to flesh this out **/
.visible-sm {
  display: block;
  visibility: visible;
}
.visible-lg {
  display: none;
  visibility: hidden;
}
@media (min-width: 30rem) {
  .container {
    margin: 0 auto;
    padding-bottom: 2rem;
    min-width: 30rem;
    width: 80%;
  }
}
@media (min-width: 50rem) {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .clear,
  .clearBoth {
    display: block;
    clear: both;
  }
  .clearLeft {
    display: block;
    clear: left;
  }
  .clearRight {
    display: block;
    clear: right;
  }
  .container {
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 75rem;
  }
  /* columnar stuff */
  .column,
  .columns {
    float: left;
    margin: 0 0 2rem 0;
    padding: 0 1rem;
  }
  .group,
  .row {
    margin: 0 -1rem 2rem -1rem;
  }
  /* default 12 column grid */
  /* 
     too add or remove, simply add the additional columns, 
     and then replace "12" in all the calculations below with whatever 
     number of columns you wish to use. 5, 8, 16, 101, whatever. 
     We're working on a clever-er way to make this work.
     You'll need to add classes up above too if you make more columns.
  */
  .one {
    width: calc(8.33333333%);
  }
  .two {
    width: calc(16.66666667%);
  }
  .three {
    width: calc(25%);
  }
  .four {
    width: calc(33.33333333%);
  }
  .five {
    width: calc(41.66666667%);
  }
  .six,
  .halfwidth {
    width: calc(50%);
  }
  .seven {
    width: calc(58.33333333%);
  }
  .eight {
    width: calc(66.66666667%);
  }
  .nine {
    width: calc(75%);
  }
  .ten {
    width: calc(83.33333333%);
  }
  .eleven {
    width: calc(91.66666667%);
  }
  .twelve,
  .fullwidth {
    width: calc(100%);
  }
  /* some standard offsets */
  .offset-by-one {
    margin-left: calc(8.33333333%);
  }
  .offset-by-two {
    margin-left: calc(16.66666667%);
  }
  .offset-by-three {
    margin-left: calc(25%);
  }
  .offset-by-four {
    margin-left: calc(33.33333333%);
  }
  .offset-by-five {
    margin-left: calc(41.66666667%);
  }
  .offset-by-six,
  .offset-by-half {
    margin-left: calc(50%);
  }
  .offset-by-seven {
    margin-left: calc(58.33333333%);
  }
  .offset-by-eight {
    margin-left: calc(66.66666667%);
  }
  .offset-by-nine {
    margin-left: calc(75%);
  }
  .offset-by-ten {
    margin-left: calc(83.33333333%);
  }
  .offset-by-eleven {
    margin-left: calc(91.66666667%);
  }
  .offset-by-twelve {
    margin-left: calc(100%);
  }
  .visible-lg {
    display: block;
    visibility: visible;
  }
  .visible-sm {
    display: none;
    visibility: hidden;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 100% so that all the REM measurements throughout this doc are
are based on 16px sizing. So basically 1rem = 16px :) — should a better solution be devised? */
html {
  font-size: 100%;
}
body {
  font-size: 1em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.618em;
  font-weight: 400;
  /* do I want a better, wider ranging font-stack? */
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}
/* Base Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
  line-height: normal;
}
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.0rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.33rem;
}
/* Larger than phablet */
/* these aren't currently being changed... though perhaps they need to be */
@media (min-width: 30rem) {
  h1 {
    font-size: 3.0rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.33rem;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
small,
.small {
  font-size: .9rem;
}
img {
  max-width: 100%;
}
/* Centering in the unknown */
/* from http://css-tricks.com/centering-in-the-unknown/
  ---------------------------------------------------------*/
/* This parent can be any width and height */
.block {
  text-align: center;
}
/* The ghost, nudged to maintain perfect centering */
.block::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
/* List control stuff */
ol,
ul {
  margin-bottom: 1em;
}
ol {
  list-style: decimal;
}
ol ul {
  margin-left: 1em;
}
ul {
  list-style: disc;
}
ul ul {
  list-style: circle;
}
ul ul ul {
  list-style: square;
}
ol li,
ul li {
  line-height: 1.618em;
}
ol li p {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.5em;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 20px;
  width: 100%;
  color: gray;
  background: #faf8f8;
  font-family: 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
}
/******/
header {
  padding-top: 1em;
  margin-bottom: 1em;
}
header h1,
header h1 a,
header a {
  color: #cd2027;
  text-transform: lowercase;
  font-weight: normal;
  margin: 0;
  font-size: 2em;
  line-height: .6;
  padding: 0;
  display: block;
  text-decoration: none;
  font-family: 'Gentium Book Basic', Cambria, Georgia, Times, serif;
}
header nav {
  float: right;
  margin-top: .5em;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  font-family: 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0;
}
header nav ul li a {
  display: block;
  padding: .2em .75em;
  text-decoration: none;
  color: gray;
}
header nav ul li a:hover {
  color: black;
}
header nav ul li.active a {
  border-bottom: 2px solid #cd2027;
  box-sizing: border-box;
}
/******/
aside nav {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 2em 0;
}
/****
  Refine these stlyes more — start with a simpler, single column, then grow.
  Also, it should get even wider than just 6 columns at even larger screen sizes.
*****/
.image-grid {
  list-style: none;
  margin: 0 -2.5px;
  padding: 0;
}
.image-grid::after {
  content: "";
  display: table;
  clear: both;
}
.image-grid li.image {
  height: calc(202px);
  position: relative;
  padding: 0 2.5px;
  margin-bottom: 5px;
  overflow: hidden;
  float: left;
  width: 100%;
}
@media (min-width: 300px) {
  .image-grid li.image {
    height: calc(202px);
  }
}
@media (min-width: 350px) {
  .image-grid li.image {
    height: calc(252px);
  }
}
@media (min-width: 400px) {
  .image-grid li.image {
    height: calc(303px);
  }
}
@media (min-width: 440px) {
  .image-grid li.image {
    width: calc(50%);
    height: calc(178px);
  }
}
@media (min-width: 700px) {
  .image-grid li.image {
    width: calc(33.33333333%);
  }
}
@media (min-width: 840px) {
  .image-grid li.image {
    width: calc(25%);
  }
}
@media (min-width: 1040px) {
  .image-grid li.image {
    width: calc(20%);
  }
}
@media (min-width: 1240px) {
  .image-grid li.image {
    width: calc(16.66666667%);
  }
}
@media (min-width: 1480px) {
  .image-grid li.image {
    width: calc(14.28571429%);
  }
}
@media (min-width: 1720px) {
  .image-grid li.image {
    width: calc(12.5%);
  }
}
.image-grid li.image img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
li.image .info {
  color: gray;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .25em .5em;
  background: #faf8f8;
  transition: all 300ms ease-out;
  font-size: 75%;
  height: 4em;
}
.info h2 {
  font-family: 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #cd2027;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
}
.info p {
  display: none;
  margin: 5px 0;
  font-family: 'Gentium Book Basic', Georgia, serif;
}
li.image .img-detail {
  background: #faf8f8;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}
footer {
  margin-top: 40px;
  font-size: .9em;
}
footer a {
  color: gray;
  text-decoration: none;
  border-bottom: 1px solid rgba(205, 32, 39, 0.75);
}
.other section {
  padding: 100px 0;
}
.columns {
  float: left;
}
.columns.half {
  width: 50%;
}
aside nav ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
aside nav ul h2 {
  display: none;
}
aside nav ul li {
  display: inline-block;
}
aside nav ul li a {
  background: transparent;
  border: none;
  color: gray;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: .1em .5em;
}
aside nav ul li a:hover {
  color: #cd2027;
}
/* demo home slideshow */
#homess {
  text-align: center;
  padding: 1em;
  margin: 0 -20px;
}
.cycle-slideshow {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.cycle-slideshow img {
  width: 100%;
  height: auto;
}
.cycle-pager span {
  font-size: 3em;
  width: .5em;
  height: .5em;
  line-height: .5;
  display: inline-block;
  color: gray;
  cursor: pointer;
}
.cycle-pager span.cycle-pager-active {
  color: #cd2027;
}
/** individual project **/
#detail-view {
  padding-top: 2em;
}
#detail-view .detail-info {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  color: gray;
  font-family: 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
}
#detail-view .detail-info h1 {
  float: left;
  width: 25%;
  padding: 0 15px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
#detail-view .detail-info section.content {
  float: left;
  width: 50%;
  padding: 0 15px;
  margin: 4px 0 0 0;
  line-height: 24px;
}
section.content p {
  margin: 0 0 1em 0;
}
#detail-view .detail-info ul.miscellany {
  line-height: 24px;
  list-style: none;
  margin: 4px 0 0 0;
  float: left;
  width: 25%;
  padding: 0 15px;
}
#detail-view .detail-info ul.miscellany li {
  border-bottom: 1px solid #cd2027;
  font-size: 12px;
  padding: .5em 0;
}
#detail-view .detail-info ul.miscellany li:first-child {
  border-top: 1px solid #cd2027;
}
#detail-view ul.projects-nav {
  list-style: none;
  margin: 40px 0 0 0;
  border-top: 1px solid #cd2027;
  padding: 20px 0 0 0;
  text-align: center;
  width: 100%;
}
#detail-view ul.projects-nav li {
  display: inline-block;
  margin: 0 15px;
}
#detail-view ul.projects-nav li button {
  width: 150px;
}
.image-thread img {
  width: 100%;
  display: block;
  margin: 2em 0;
}
#detail-view .content figure {
  margin: 1em 0;
  padding: 0;
  position: relative;
}
#detail-view .content figure figcaption {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: calc(101%);
  width: 50%;
  font-size: 85%;
  color: darkgrey;
}
#filters .search-field {
  display: block;
  float: right;
  margin-left: 5%;
  width: 20%;
}
#filters .search-field input {
  width: 100%;
}
/** start some responsive stuff? **/
