/* *********************************************** */
/* *********************************************** */
/* »»»»»»» Overlay Related Styles «««««««« */
/* *********************************************** */
/* *********************************************** */

.controls {
  width: 33%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.arrows {
  display: block;
  content:'';
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  top:0;
  bottom:0;
}

section {
  .image-grid {
    .image {
      .img-detail {
        background: @ookb-gray;
        background-image: url('/media/loading.gif');
        background-position: center center;
        background-repeat: no-repeat;
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        padding: 20px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        z-index: 999;

        &::before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.5%; /* Adjusts for spacing */
        }

        a {
          display: initial;
        }
        a > img {
          max-height: 99%;
          max-width: 99%;
          width: auto;
          height: auto;
          vertical-align: middle;
          display: inline-block;
        }

        /** controls **/
        a.button {
          position: absolute;
          float: none;
          display: block;
          z-index: 199;
          background: transparent;
          border: none;

          &.close {
            background-image: url(/media/close.png);
            background-position: center center;
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
            top: 15px;
            right: 15px;
            z-index: 299;
            .hide-text;
          }

          &.left {
            .controls;
            .hide-text;
            left: 0;

            &:hover {
              background: linear-gradient( 90deg, rgba(0,0,0,.25), rgba(0,0,0,0));
            }

            &::after {
              .arrows;
              background-image: url(/media/arrowL.png);
              background-position: left center;
              right: 0;
              left:2em;
            }
          }

          &.right {
            .controls;
            .hide-text;
            right: 0;

            &:hover {
              background: linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25));
            }

            &::after {
              .arrows;
              background-image: url(/media/arrowR.png);
              background-position: right center;
              right:2em;
              left:0;
            }
          }
        }
      }
    }
  }
}
