* { box-sizing: border-box; font-size: 1em; line-height: 1.5em; }

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: gray;
  background: @rohrer-white;
  font-family: @open-sans-stack;
}

/******/

header {
  padding-top: 1em;
  margin-bottom: 1em;

  h1,
  h1 a,
  a {
    color: @rohrer-red;
    text-transform: lowercase;
    font-weight: normal;
    margin: 0;
    font-size: 2em;
    line-height: .6;
    padding: 0;
    display: block;
    text-decoration: none;
    font-family: @gentium-stack;
  }

  nav {
    float: right;
    margin-top: .5em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-family: @open-sans-stack;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
        padding: 0;

        a {
          display: block;
          padding: .2em .75em;
          text-decoration: none;
          color: gray;

          &:hover {
            color: black;
          }
        }

        &.active a {
          border-bottom: 2px solid @rohrer-red;
          box-sizing: border-box;
        }
      }
    }
  }
}

/******/

footer {
  margin-top: 40px;
  font-size: .9em;
  
  a {
    color: gray;
    text-decoration: none;
    border-bottom: 1px solid rgba(205,32,39,.75);
  }
}

/******/

aside {
  nav {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 2em 0;

    .filter-qty {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;

    h2 {
      display: none;
    }

    li {
      display: inline-block;

      a {
        background: transparent;
        border: none;
        color: gray;
        text-transform: capitalize;
        text-decoration: none;
        display: inline-block;
        padding: .1em .5em;

        &:hover {
          color: @rohrer-red;
        }
      }   
    }
  }
}


/****
  Refine these stlyes more — start with a simpler, single column, then grow.
  Also, it should get even wider than just 6 columns at even larger screen sizes.
*****/

.image-grid {
  list-style: none;
  margin: 0 -2.5px;
  padding: 0;
  
  &::after {
    .clear;
  }

  li.image {
    height: calc(200px + 2em);
    position: relative;
    padding: 0 2.5px;
    margin-bottom: 5px;
    overflow: hidden;
    float: left;
    width: 100%;

    img {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }

    figure {
      height: 100%;
      position: absolute;
      
      .info {
        color: gray;
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        padding: .25em .5em;
        background: @rohrer-white;
        transition: all 300ms ease-out;
        font-size: 75%;
        height: 4em;

        h2 {
          font-family: @open-sans-stack;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: @rohrer-red;
          text-decoration: none;
          font-size: 1.1em;
          line-height: 1.2;
          margin: 0;
        }

        .details,
        .content {
          display: none;
          margin: 5px 0;
          font-family: 'Gentium Book Basic', Georgia, serif;
        }
      }
    }

    .img-detail {
      background: @rohrer-white;
      position: fixed;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 999;
    }
  }
}

/** 
  responsive stuff for image grid... 
  need to work this out better still 
**/
@media (min-width: 300px) {
  .image-grid li.image {
    height: calc(200px + 2em);
  }
}

@media (min-width: 350px) {
  .image-grid li.image {
    height: calc(250px + 2em);
  }
}

@media (min-width: 400px) {
  .image-grid li.image {
    height: calc(300px + 3em);
  }
}

@media (min-width: 440px) {
  .image-grid li.image {
    width: calc(100% / 2);
    height: calc(175px + 3em);
  }
}

@media (min-width: 700px) {
  .image-grid li.image {
    width: calc(100% / 3);
  }
}

@media (min-width: 840px) {
  .image-grid li.image {
    width: calc(100% / 4);
  }
}

@media (min-width: 1040px) {
  .image-grid li.image {
    width: calc(100% / 5);
  }
}

@media (min-width: 1240px) {
  .image-grid li.image {
    width: calc(100% / 6);
  }
}

@media (min-width: 1480px) {
  .image-grid li.image {
    width: calc(100% / 7);
  }
}

@media (min-width: 1720px) {
  .image-grid li.image {
    width: calc(100% / 8);
  }
}

/* demo home slideshow */

#homess {
  text-align: center;
  padding: 1em;
  margin: 0 -20px;
}

.cycle-slideshow { width: 100%; max-width: 960px; margin: 0 auto; }
.cycle-slideshow img { width: 100%; height: auto }

.cycle-pager span {
  font-size: 3em;
  width: .5em;
  height: .5em;
  line-height: .5;
  display: inline-block;
  color: gray;
  cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
  color: @rohrer-red;
}

/** individual project **/
#detail-view {
  padding-top: 2em;
}

#detail-view .detail-info {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  color: gray;
  font-family: @open-sans-stack;
}

#detail-view .detail-info h1 {
  float: left;
  width: 25%;
  padding: 0 15px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

#detail-view .detail-info section.content {
  float: left;
  width: 50%;
  padding: 0 15px;
  margin: 4px 0 0 0;
  line-height: 24px;
}

section.content p {
  margin: 0 0 1em 0;
}

#detail-view .detail-info ul.miscellany {
  line-height: 24px;
  list-style: none;
  margin: 4px 0 0 0;
  float: left;
  width: 25%;
  padding: 0 15px;
}

#detail-view .detail-info ul.miscellany li {
  border-bottom: 1px solid @rohrer-red;
  font-size: 12px;
  padding: .5em 0;
}

#detail-view .detail-info ul.miscellany li:first-child {
  border-top: 1px solid @rohrer-red;
}

#detail-view ul.projects-nav {
  list-style: none;
  margin: 40px 0 0 0;
  border-top: 1px solid @rohrer-red;
  padding: 20px 0 0 0;
  text-align: center;
  width: 100%;
}
#detail-view ul.projects-nav li {
  display: inline-block;
  margin: 0 15px;
}

#detail-view ul.projects-nav li button {
  width: 150px;
}

.image-thread img {
  width: 100%;
  display: block;
  margin: 2em 0;
}
      
#detail-view .content figure {
  margin: 1em 0;
  padding: 0;
  position: relative;
}

#detail-view .content figure figcaption {
  margin: 0;
  padding: 0;
  position: absolute;
  top:0;
  left: calc(100% + 1em);
  width: 50%;
  font-size: 85%;
  color: darkgrey;
}

#filters .search-field {
  display: block;
  float: right;
  margin-left: 5%;
  width: 20%;
}

#filters .search-field input {
  width: 100%;
}

/** start some responsive stuff? **/

